.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
    margin-bottom: 2rem;

    p {
        color: rgb(255, 255, 255);
    }
}

.react_player {

    >div {
        width: 100% !important;
        height: fit-content !important;

        @media screen and (min-width: 481px) {
            width: 400px !important;
            height: 300px !important;
        }
    }
}

.main_image {
    >img {
        width: 150px;

        @media screen and (min-width: 480px) {
            width: 200px;
        }
    }
}


.song {
    a {
        font-size: small;
        color: rgb(250, 64, 64);
        text-decoration: underline;
    }
}